.calendar-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
  padding-bottom: 60px; /* 네비게이션 바 공간 확보 */
  max-width: 600px;
  width: 100%;
  margin: 0 auto; /* 화면 중앙 정렬 */
  overflow: hidden; /* 페이지에서 스크롤을 숨김 */
}
@media (min-width: 340px) {
  .calendar-page {
    min-width: 340px;
  }
}
@media (min-width: 390px) {
  .calendar-page {
    min-width: 390px;
  }
}
@media (min-width: 400px) {
  .calendar-page {
    min-width: 430px;
  }
}

.calendar {
  overflow-y: auto; /* 그룹 목록만 세로 스크롤 가능 */
  margin-top: 10px;
  padding: 0 15px;
  padding-bottom: 20px;
  width: 100%;
}
/* Webkit 기반 브라우저에서 스크롤바 숨기기 */
.calendar::-webkit-scrollbar {
  display: none;
}
.calendar-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 0px #0000000a;
  background-color: #ffffff;
  color: black;
}
.calendar-header h2 {
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
  text-align: center;
  margin: 0 20px;
}

.prev-month,
.next-month {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.prev-month:focus,
.next-month:focus {
  outline: none;
}

.year-month-selector {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  gap: 10px;
  z-index: 1;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  /* border-bottom: 1px solid #ddd; */
}

.calendar-day-header {
  color: #666;
}

.calendar-day-header:nth-child(1) {
  color: #ff4d4d; /* 일요일 색상 */
}

.calendar-day-header:nth-child(7) {
  color: #4d4dff; /* 토요일 색상 */
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0;
  border: 1px solid #e4e4e4;
  /* border-top: none; */
  border-radius: 10px;
  background-color: white;
}

.calendar-row {
  display: contents;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 2px 0 2px;
  height: 15.5vh; /* 높이 고정 */
  font-size: 1rem;
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  width: 100%;
  box-sizing: border-box; /* 패딩 포함 셀 크기 조정 */
  overflow: hidden; /* 셀을 벗어나는 내용 숨기기 */
}

.calendar-day:nth-child(7n + 1) .day-number:not(.disabled) {
  color: #ff4d4d; /* 일요일 색상 */
}

.calendar-day:nth-child(7n) .day-number:not(.disabled) {
  color: #4d4dff; /* 토요일 색상 */
}

/* .calendar-day:last-child {
  border-right: none;
} */

/* .calendar-row:last-child .calendar-day {
  border-bottom: none;
} */
.calendar-day:nth-child(7n) {
  border-right: none; /* 마지막 열의 오른쪽 테두리 제거 */
}
.calendar-day:nth-last-child(-n + 7) {
  border-bottom: none; /* 마지막 행의 아래쪽 테두리 제거 */
}

.day-number {
  font-weight: bold;
  margin-top: 2px;
  margin-left: 8px;
}

.disabled .day-number {
  color: #e0e0e0 !important; /* disabled는 회색 계열 */
}

/* .today .day-number {
  background-color: black;
  padding: 2px 8px;
  border-radius: 50%;
  position: relative;
  color: white;
}

.selected .day-number {
  background-color: rgb(180, 180, 180);
  padding: 2px 8px;
  border-radius: 50%;
  position: relative;
  color: black;
} */

.today .day-number {
  color: white;
  position: relative;
  z-index: 1;
}

.selected .day-number {
  color: black;
  position: relative;
  z-index: 1;
}

.today .day-number::before,
.selected .day-number::before {
  content: ""; /* 가상 요소를 나타내기 위한 필수 속성 */
  background-color: black; /* 오늘 날짜의 배경색 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 23px; /* 동그라미의 크기 */
  height: 23px;
  border-radius: 50%; /* 원 모양 */

  z-index: -1; /* 텍스트 아래에 배경이 오도록 설정 */
}

/* */
/*위에껀 필요하면 그 위에 붙여넣기

/* 선택된 날짜의 배경색 */
/* 텍스트 아래에 배경이 오도록 설정 */
.selected .day-number::before {
  background-color: rgb(200, 200, 200);
  z-index: -1;
}

.year-month-selector {
  /* 년도 모달창 */
  position: absolute;
  border-radius: 4px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 45%;
  gap: 10px;
  z-index: 1;
}
.year-month-selector select {
  border: none;
  font-size: 1.2rem;
  color: #404040;
}
.year-month-selector select:focus {
  outline: none;
}

/* 날짜 안에 들어가는 할일 디자인 */
.event {
  /* margin-top: 4px; */
  margin: 4px auto 0 auto;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.8rem;
  color: white;

  overflow: hidden; /* 넘치는 텍스트 숨김 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  text-overflow: ellipsis; /* 말줄임표 (...) 표시 */
  max-width: 100%; /* 셀 너비를 넘지 않도록 설정 */
  box-sizing: border-box; /* 패딩 포함 셀 크기 조정 */
  width: 100%; /* 부모 요소인 날짜 셀의 너비를 채우도록 설정 */
  max-width: 100%; /* 너비가 날짜 셀을 넘지 않도록 고정 */
  text-align: left;
  cursor: pointer;
}
