/* 그룹 페이지 스타일 */
.group-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
  padding-bottom: 60px; /* 네비게이션 바 공간 확보 */
  width: 100%;
  max-width: 600px;
  margin: 0 auto; /* 화면 중앙 정렬 */
  overflow: hidden; /* 페이지에서 스크롤을 숨김 */
}

/* 헤더 스타일 */
.group-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 0px #0000000a;
  background-color: #ffffff;
}

.group-header h2 {
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
  text-align: center;
}

/* 그룹 생성 버튼 영역 */
.add-group-content {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.in-group-button {
  border: 1px solid #a26af0;
  font-size: 0.8rem;
  padding: 8px 16px;
  border-radius: 4px;
  color: #404040;
  cursor: pointer;
  background-color: white;
}
.in-group-button:hover {
  border-color: #646cff;
}
.in-group-button:focus {
  outline: none;
}
/* 그룹 생성 버튼 스타일 */
.add-group-button {
  padding: 8px 16px;
  background-color: #731aef;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-group-button:hover {
  background-color: #4e00c9;
}

/* 모바일 화면에서 버튼 위치와 크기 조정 */
@media (max-width: 767px) {
  .in-group-button {
    font-size: 0.7rem;
    padding: 7px 14px;
  }
  .add-group-button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}
@media (min-width: 400px) {
  .group-page {
    width: 430px;
  }
}

@media (max-width: 375px) {
  .in-group-button {
    font-size: 0.6rem;
    padding: 6px 12px;
  }
  .add-group-content {
    padding-right: 0%;
  }
  .add-group-button {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}

/* 그룹 컨텐츠 스타일 */
.group-content {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto; /* 그룹 목록만 세로 스크롤 가능 */
  padding: 0px 22px;
  /* margin-top: 10px; */
  padding-bottom: 80px;
}
/* Webkit 기반 브라우저에서 스크롤바 숨기기 */
.group-content::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  /*모바일 화면 컨텐츠 패딩조절*/
  .group-content {
    padding: 0 110px;
  }
}
@media (max-width: 375px) {
  /*더 작은 모바일 화면 컨텐츠 패딩조절*/
  .group-content {
    padding: 0 125px;
  }
}

.no-group-text {
  font-size: 1rem;
  color: #999999;
  text-align: center;
  margin-top: 20px;
}
