@font-face {
  font-family: "KCC-Hanbit";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.landing-container {
  width: 600px;
  /* width: 800px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: left;
  background: linear-gradient(to bottom, #a26af0, #731aef);
}

/* 로고 스타일 */
.landing-logo {
  font-size: 5rem;
  margin-top: -7rem;
  margin-bottom: 2rem;
}

/* 메인 텍스트와 초기 상태에서 Together */
.main-text,
.animated-text,
.landing-logo {
  font-family: "KCC-Hanbit";
  font-size: 3rem;
  font-weight: bold;
  transition: opacity 1.5s ease-out;
  opacity: 0; /* 초기 상태에서 투명 */
  text-align: left;
}

/* 초기 페이드 인 상태 */
.fade-in {
  opacity: 1;
}

/* Together 페이드 아웃 */
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* to gather가 간격을 두고 서서히 나타나는 상태 */
.fade-in-swap {
  opacity: 1;
  word-spacing: 0.7rem; /* 간격 확대 */
  transition: opacity 1s ease-in-out, word-spacing 1s ease-in-out;
}
