.login-container {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* 앱 이름 스타일 */
.login-title {
  font-family: "Amarante";
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

/* 앱 설명 텍스트 */
.login-description {
  font-size: 1rem;
  color: #444;
  text-align: center;
  margin-bottom: 7rem;
  line-height: 1.5;
}

/* 소셜 로그인 타이틀 */
.social-login-title {
  font-size: 0.9rem;
  color: black;
  margin-left: -150px;
  margin-bottom: 1.2rem;
}

/* 소셜 버튼 공통 스타일 */
.social-button {
  width: 280px;
  display: block;
  border: none;
  border-radius: 8px;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 소셜 버튼 hover 효과 */
.social-button:hover {
  cursor: pointer;
}
