.login-container {
  width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100px;
}

/* 앱 이름 스타일 */
.login-title {
  font-family: "KCC-Hanbit";
  font-size: 2.2rem;
  margin-bottom: 1rem;
  background: linear-gradient(
    to bottom,
    #a26af0,
    #731aef
  ); /* #731AEF에서 #A26AF0으로 그라데이션 */
  line-height: 1.2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* 텍스트 내부를 투명하게 */
}
/**/
/* 앱 설명 텍스트 */
.login-description {
  font-size: 1rem;
  color: #999999;
  font-family: "KCC-Hanbit";
  text-align: center;
  margin-bottom: 7rem;
  line-height: 1.5;
}

.social-login-container {
  width: 70%;
}

/* 소셜 로그인 타이틀 */
.social-login-title {
  font-size: 1rem;
  color: #999999;
  margin-left: -50%;
  margin-bottom: 1.2rem;
}

/* 소셜 버튼 공통 스타일 */
.social-button {
  width: 80%;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 8px;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (min-width: 400px) {
  /*모바일 화면 컨텐츠 패딩조절*/
  .social-login-container {
    width: 80%;
  }
}

/* 소셜 버튼 hover 효과 */
.social-button:hover {
  cursor: pointer;
}
