.group-item {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* color: #7d4dfb; 선택된 상태 테두리 색 */

.group-item:hover {
  cursor: pointer; /* 포인터 모양 변경 */
}

.group-img {
  width: 60px;
  height: 60px;
  border-radius: 8px; /* 살짝 둥근 모서리 */
  background-color: #f5f5f5; /* 이미지 배경색 */
  object-fit: cover;
  margin-bottom: 5px; /* 이미지와 텍스트 간격 */
}

.group-img-selected {
  width: 60px;
  height: 60px;
  border-radius: 8px; /* 살짝 둥근 모서리 */
  background-color: #f5f5f5; /* 이미지 배경색 */
  object-fit: cover;
  margin-bottom: 5px; /* 이미지와 텍스트 간격 */
  border: 2px solid #7d4dfb;
}

.all-group-img {
  background-color: white;
  width: 60px;
  height: 40px;
  border-radius: 0px;
  margin-bottom: 5px;
}

.all-group-img-selected {
  background-color: white;
  width: 60px;
  height: 40px;
  border-radius: 0px;
  margin-bottom: 5px;
}

.placeholder-box {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: #f5f5f5; /* 빈 이미지 배경색 */
  margin-bottom: 5px;
}

.placeholder-box-selected {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: #f5f5f5; /* 빈 이미지 배경색 */
  margin-bottom: 5px;
  border: 2px solid #7d4dfb;
}

.group-name {
  font-size: 14px;
  font-weight: bold;
  color: #999;
  text-align: center;
  line-height: 1.2; /* 텍스트 줄 간격 */
  word-wrap: break-word; /* 긴 단어 줄바꿈 */
  overflow-wrap: break-word; /* 브라우저 호환성 */
  max-width: 80px; /* 최대 너비 설정 */
}

.group-name-selected {
  font-size: 14px;
  font-weight: bold;
  color: #7d4dfb;
  text-align: center;
  line-height: 1.2; /* 텍스트 줄 간격 */
  word-wrap: break-word; /* 긴 단어 줄바꿈 */
  overflow-wrap: break-word; /* 브라우저 호환성 */
  max-width: 80px; /* 최대 너비 설정 */
}
