/* MyPageItem.css */
.my-page-item {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  transition: background-color 0.2s;
  margin-top: 0px;
  margin-bottom: 0px;
}

.my-page-item-title {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
}

.my-page-item-arrow {
  font-weight: bold;
  color: #b0b0b0;
  font-size: 40px;
}
