.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 600px; /* Group-page와 동일한 최대 너비 설정 */
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -4px 10px 0px #0000000a;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
  margin: 0 auto; /* 중앙 정렬 */
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #7c7c7c;
  font-size: 12px;
  text-decoration: none; /* 링크의 밑줄 제거 */
}

.nav-item .icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.nav-item.active {
  color: black; /* 활성화된 아이템 색상 변경 */
}
