.tab-selector {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.tab-item {
  background-color: white;
  flex: 1; /* 각 아이템이 50%씩 차지하도록 설정 */
  padding: 10px 0;
  font-size: 1.2em;
  color: #888;
  cursor: pointer;
  text-align: center;
  position: relative; /* ::after 요소의 위치를 위해 설정 */
  transition: color 0.3s;
  border-bottom: 3px solid #ddd; /* 기본 회색 경계선 */
}

.tab-item.active {
  color: #9b59b6; /* 활성 상태에서 텍스트 색상을 보라색으로 변경 */
  font-weight: bold;
  border-bottom: 3px solid #9b59b6;
}
