
.time-grid {
    position: relative;
    border: 1px solid #e0e0e0;
    margin-top: 16px;
}

.grid-header {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
}

.time-column {
    width: 64px;
    /*border-bottom: 1px solid #f4f4f4;*/
    border: none;
    /*#f4f4f4*/
}

.day-column {
    flex: 1;
    text-align: center;
    padding: 8px 0;
    color: #1a1a1a;
}

.day-date {
    font-size: 14px;
    color: #1a1a1a;
}

.day-label {
    font-size: 14px;
    color: #666;
}

.grid-content {
    display: flex;
}

.time-scale {
    width: 64px;
    border-right: 1px solid #e0e0e0;
}

.time-slot {
    height: 48px;
    display: flex;
    align-items: start;
    /*align-items: center;*/
    justify-content: end;
    /*justify-content: center;*/
    margin-right: 7px;
    font-size: 14px;
    color: #666;
}

.grid-cells {
    flex: 1;
    display: grid;
;
}

.grid-cell {
    height: 24px;
    /*height: 48px;*/
    background-color: white;
    border-bottom: 1px dotted #f0f0f0;
    border-right: 1px solid #f0f0f0;
}
