.place-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 요소보다 위에 표시되도록 설정 */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.modal-content textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  resize: none; /* 사용자가 크기를 조절하지 못하도록 설정 */
}

.add-place-button {
  background-color: #9b59b6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.close-button {
  background: none;
  color: #333;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: underline;
}
