.create-group-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  padding-bottom: 60px; /* 네비게이션 바 공간 확보 */
  width: 600px; /* 너비 설정 */
  margin: 0 auto; /* 화면 중앙 정렬 */
}

.create-group-header {
  position: relative;
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px 0px #0000000a;
  background-color: #ffffff;
  margin-bottom: 50px;
}
.cg-back-button {
  position: absolute;
  left: 5%; /* 왼쪽 끝에 배치 */
  cursor: pointer;
}
/* back-button: 작은 화면에서는 비율에 맞춰 더 작은 크기 적용 */
@media (max-width: 767px) {
  .cg-back-button {
    width: 23px;
    left: 20%;
  }
}
@media (max-width: 375px) {
  .cg-back-button {
    width: 23px;
    left: 23%;
  }
}
.create-group-header h2 {
  font-weight: 600;
  font-size: 1.3rem;
  color: black;
}

/* 컨텐츠 영역 */
.create-group-content {
  width: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  overflow-y: auto; /* 세로 스크롤 활성화 */
}
/* Webkit 기반 브라우저에서 스크롤바 숨기기 */
.create-group-content::-webkit-scrollbar {
  display: none;
}
@media (max-width: 767px) {
  /*모바일 화면 컨텐츠 패딩조절*/
  .create-group-content {
    padding: 0 125px;
  }
}
@media (max-width: 375px) {
  /*더 작은 모바일 화면 컨텐츠 패딩조절*/
  .create-group-content {
    padding: 0 145px;
  }
}

/* 프로필 이미지 영역 */
.profile-picture-placeholder {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.profile-placeholder {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  border-radius: 25%;
  cursor: pointer;
}

/* 폼 그룹 */
.form-group {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  color: #656565;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 11px;
}

.form-group input {
  width: 96%;
  margin: 0 12px;
  padding: 12px 0;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  outline: none;
  color: black;
  background-color: #ffffff;
}
.form-group input:focus {
  border-bottom: 1px solid #731aef;
}
.form-group select {
  width: 40%;
  margin: 0 10px;
  padding: 15px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  outline: none;
  color: black;
  background-color: #ffffff;
}

.form-group input::placeholder {
  color: #c0c0c0;
}

/* 그룹 생성 버튼 스타일 */
.create-group-button {
  width: 40%;
  padding: 12px;
  background-color: #731aef;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  /*모바일 화면*/
  .profile-placeholder {
    width: 80px;
    height: 80px;
  }
  .profile-picture-placeholder {
    margin-bottom: 50px;
  }
  .form-group label {
    font-size: 0.8rem;
    margin-bottom: 8px;
  }
  .form-group input {
    font-size: 1.2rem;
  }
  .create-group-button {
    margin-top: 0px;
  }
}
@media (max-width: 375px) {
  /*더 작은 모바일 화면*/
  .profile-picture-placeholder {
    margin-bottom: 30px;
  }
  .form-group {
    margin-bottom: 30px;
  }
  .form-group label {
    font-size: 0.8rem;
    margin-bottom: 3px;
  }
  .form-group input {
    font-size: 1.1rem;
  }
  .create-group-button {
    margin-top: 10px;
    font-size: 0.9rem;
  }
}

.create-group-button:hover {
  background-color: #5a12c8;
}
.create-group-button:focus {
  outline: none;
}
